[submodule "quickstart-calls-directcall-react-native"]
	path = quickstart-directcall
url=git@github.com:sendbird/sendbird-calls-directcall-quickstart-react-native.git
[submodule "quickstart-calls-groupcall-react-native"]
	path = quickstart-groupcall
url=git@github.com:sendbird/sendbird-calls-groupcall-quickstart-react-native.git
